@font-face {
  font-family: "Muli-Bold";
  src: url(assets/Muli-Bold.ttf);
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: yellow;
}

header{
  margin: 0;
  padding: 10px;
  background-color: #FFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

header .container{
  
  
  /* height: 90px; */
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

nav ul{
  list-style: none;
  text-decoration: none;
}

nav ul li{
  list-style-type: none;
  display: inline;
  justify-content: space-between;
}

nav ul li a{
  font-family: "Muli-Bold";
  font-size: 13px;
  padding: 14px 16px;
  text-decoration: none;
}

/* nav li a:hover:not(.active) {
  background-color: #111;
} */

.active{
  /* background-color: aliceblue; */
  color: #f47522;
}

nav ul li a :hover{
  cursor: pointer;
}


.profile-pict img{
  height: 355px;
  width: 355px;
  border-radius: 50%;
  
}

#home{
  height: 100%;
  margin: 0;
  padding: 2rem 1rem;
  background-image: url(assets/bg-img.png);
  background-size: cover;
}

#home .row{
  /* margin: 10px;
  padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 50px;
}


#about{
  background-color: aquamarine;
}

#about .img-about-me img{
  height: 100px;
  width: 100px;
}

#contact{
  background-color: green;
}