@font-face {
  font-family: "Muli-Bold";
  src: url(assets/Muli-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(assets/Roboto-Medium.ttf);
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: yellow;
}

header{
  position: fixed;
  width: 100%;
}

header .container{
  /* width: 100%; */
  margin: 0;
  padding: 10px;
  /* height: 90px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
}

nav ul{
  list-style: none;
  text-decoration: none;
}

nav ul li{
  list-style-type: none;
  display: inline;
  justify-content: space-between;
}

nav ul li a{
  font-family: "Muli-Bold";
  font-size: 13px;
  padding: 14px 16px;
  text-decoration: none;
}

/* nav li a:hover:not(.active) {
  background-color: #111;
} */

.active{
  /* background-color: aliceblue; */
  color: #f47522;
}

nav ul li a :hover{
  cursor: pointer;
}


.profile-pict img{
  height: 355px;
  width: 355px;
  border-radius: 50%;
  
}

#home{
  /* height: 100%; */
  margin: 0;
  /* padding: 2rem 1rem; */
  background-image: url(assets/bg-img.png);
  background-size: cover;
}

#home .row{
  /* margin: 10px;
  padding: 10px; */
  padding-top: 160px;
  padding-bottom: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 50px;
}

#home .row .tagline{
  font-family: "Roboto-Medium";
  color: #19345E;
}

#home .row .tagline .baris-1{
  font-size: 25px;
  /* text-align: left; */
  /* height: 33px;
  width: 164px; */
}

#home .row .tagline h1{
  /* height: 122px; */
  /* width: 520px; */
  font-size: 45px;
}

#home .tagline button {
  height: 44px;
  width: 150px;
  color: white;
  border: 2px;
  border-radius: 40px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  background-color: #F47522;
}
