@font-face {
  font-family: "Muli-Bold";
  src: url(../lang/Muli-Bold.ttf);
}
body {
  background-color: yellow;
}

.navbar {
  max-width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #FFFFFF;
  display: flex;
  /* justify-content: space-around; */
}

.navbar ul li a {
  font-family: "Muli-Bold";
  font-size: 13px;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  /* color: #f47522; */
}

.nav-link active {
  color: #f47522;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
  justify-content: space-between;
}
#jumbotron{
    /* background-color: #f4f7fc; */
    background-color: grey;
    color: black;
}
/* .container {
  width: 100%;
  margin: 0;
  padding: 10px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
} */

/* nav ul {
  list-style: none;
  text-decoration: none;
}

nav ul li a :hover {
  cursor: pointer;
} */
